<?xml version="1.0" encoding="utf-8" ?>
<!-- For more information on using transformations 
     see the web.config examples at http://go.microsoft.com/fwlink/?LinkId=214134. -->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
    <sitecore>
        <sites xdt:Transform="Insert">
            <site name="autohaus">
                <patch:attribute name="database">master</patch:attribute>
                <patch:attribute name="filterItems">true</patch:attribute>
                <patch:attribute name="enableWorkflow">true</patch:attribute>
            </site>
        </sites>
        <hooks xdt:Transform="Insert">
            <hook type="Sitecore.Diagnostics.MemoryMonitorHook, Sitecore.Kernel">
                <patch:delete />
            </hook>
        </hooks>
        <settings xdt:Transform="Insert">
            <setting name="Autohaus.WebIndexName" value="sitecore_master_index" />
            <setting name="Counters.Enabled">
                <patch:attribute name="value">false</patch:attribute>
            </setting>
            <setting name="Caching.DisableCacheSizeLimits">
                <patch:attribute name="value">true</patch:attribute>
            </setting>
            <setting name="ContentSearch.ParallelIndexing.Enabled">
                <patch:attribute name="value">true</patch:attribute>
            </setting>
            <!-- disabling the old indexes -->
            <setting name="Indexing.UpdateInterval">
                <patch:attribute name="value">00:00:00</patch:attribute>
            </setting>
        </settings>
    </sitecore>
</configuration>